# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Spring Boot
spring-pid

# Logs
logs/
*.log
*.log.*

# Banco H2
*.db
*.mv.db
*.trace.db

# Variaveis de ambiente
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Build
*.jar
*.war
*.ear
*.class